<form clrForm [clrLayout]="layout">
  <app-alert [(error)]="error"></app-alert>

  <app-audio-controls
    [src]="url"
    [paused]="paused$ | async"
    (pausedChange)="setPaused($event)"
  >
  </app-audio-controls>

  <clr-input-container>
    <label>
      File
      <button
        class="btn btn-icon btn-flat btn-inline"
        appInputFileUrl
        (fileLoad)="setFile($event.url, $event.name)"
        (fileError)="setError(error)"
      >
        <clr-icon shape="folder-open" size="24"></clr-icon>
      </button>
    </label>
    <input type="text" name="filename" readonly clrInput [ngModel]="filename" />
  </clr-input-container>
</form>
