<form clrForm [clrLayout]="layout" [formGroup]="form">
  <app-alert [(error)]="error"></app-alert>

  <clr-select-container>
    <label>
      Device

      <button
        type="button"
        class="btn btn-icon btn-flat btn-inline"
        [disabled]="disabled$ | async"
        (click)="refresh()"
      >
        <cds-icon shape="refresh" size="24"></cds-icon>
      </button>

      <span class="spinner spinner-inline" *ngIf="disabled$ | async"> </span>
    </label>
    <select clrSelect formControlName="device">
      <option [ngValue]="null">
        None
      </option>
      <option *ngFor="let dev of devices" [ngValue]="dev.deviceId">
        {{ dev.label || dev.deviceId || '&lt;no label&gt;' }}
      </option>
    </select>
  </clr-select-container>
</form>
