<div class="main-container">
  <div class="header header-5">
    <div class="header-nav">
      <div class="branding">
        <a class="logo-and-title">
          <clr-icon shape="bar-chart"> </clr-icon>
          <span class="title"></span>
        </a>
      </div>
      <a class="nav-link" [href]="link">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>

  <div class="content-container">
    <div class="content-area">
      <ngx-simplebar class="content">
        <app-audio-graph></app-audio-graph>
      </ngx-simplebar>
    </div>
  </div>
</div>
