<alert [(error)]="error"></alert>
<div class="clr-row">
  <div class="clr-col-12">
    <canvas
      #canvas
      [class.hide]="error !== null"
      (mouseenter)="showPoint = true"
      (mouseleave)="showPoint = false"
      (mousemove)="setPoint($event)"
      (click)="setPoint($event)">
    </canvas>
  </div>
  <div class="clr-col-12">
    {{ pointFrequency | units }}Hz
    <span *ngFor="let value of pointValues"> {{ value }}dB</span>
    <span class="float-right">
      <span *ngFor="let p of graph.pitch" [class.hide]="!p.enabled">
        {{ p.short }}: {{ p.value | units }}Hz
      </span>
    </span>
  </div>
</div>
