<app-alert
  [error]="error$ | async"
  (errorChange)="setError($event)"
>
</app-alert>

<canvas
  #canvas
  [class.hide]="error$ | async"
  (mouseenter)="showPoint = true"
  (mouseleave)="showPoint = false"
>
</canvas>

<div class="frequency-chart-values">
  {{ pointFrequency$ | async | units:'Hz' }}
  <span *ngFor="let value$ of pointValues$"> {{ value$ | async }}dB</span>
  <span class="float-right">
    <span
      *ngFor="let p of pitch; let i = index"
      [class.hide]="!(pitchEnabled$[i] | async)"
    >
      <span [style.color]="p.color">{{ p.short }}</span>:
      {{ pitchValue$[i] | async | units:'Hz' }}
    </span>
  </span>
</div>
