$content-max-width: 100%;
$bg: #26262c;
$bg-light: lighten($bg, 20%);
$fg: #dddddd;
$border: #495865;
$border-light: lighten($border, 20%);
$btn: #4aaed9;

$width-md: 768px;
$width-lg: 992px;
$width-xl: 1200px;

$font-size: 30px;
$font-size-sm: 24px;
$header-size: 2rem;
$content-padding: $header-size * 0.5;
$content-padding-sm: $header-size * 0.25;
$icon-size: $header-size * 0.5;
$icon-size-lg: $header-size * 0.75;
$icon-size-header: $icon-size-lg; /* $header-size * 0.625; */
$scrollbar-size: 0.3rem;

$fa-font-path: '/fonts';
