@import 'vars';

.fill-height {
  height: 100%;
}

.float-right {
  float: right;
}

.hide {
  display: none !important;
}

.margin-none {
  margin: 0 !important;
}

.padding-none {
  padding: 0 !important;
}

.stats {
  top: calc(#{$header-size / 2} - 24px) !important;
  right: 0.5rem !important;
  left: auto !important;
  border: 1px solid $header-border;
}

.btn {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.charts-container {
  @media (max-width: $width-md - 1px) {
    &,
    app-charts {
      height: calc(40vh + 2.5rem);
    }
  }
}

app-charts {
  background-color: $bg;
  position: fixed;
  top: $header-size;
  right: $content-padding-sm;
  left: $content-padding-sm;
  z-index: 999;
  padding-top: $content-padding-sm;
  @media (min-width: $width-md) {
    right: 50%;
    bottom: 1rem;
    left: $content-padding;
    padding-top: $content-padding;
  }
  @media (min-width: $width-lg) {
    right: calc(42% + 0.5rem);
  }
  @media (min-width: $width-xl) {
    right: calc(33% + 0.5rem);
  }

  .chart-layout {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
    & > * {
      flex-grow: 1;
      flex-shrink: 1;
    }

    &-horizontal {
      flex-direction: row;
    }
    &-vertical {
      flex-direction: column;
    }
    &-grid {
      flex-direction: row;
      flex-wrap: wrap;
      & > * {
        width: 50%;
      }
    }
  }

  /*canvas {
    height: 40vh;
    @media (min-width: $width-md) {
      height: calc(100vh - 6.5rem);
    }
  }*/
}

app-chart {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .chart-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $header;
    border: 1px solid $header-border;
    .chart-title {
      /*width: 50%;*/
      .clr-form-control {
        margin-top: 0;
      }
      .clr-select-wrapper::after{
        right: auto;
        left: 0.3rem;
      }
      select {
        font-size: 0.6rem;
        padding-left: 1.1rem;
        padding-right: 0.3rem;
        &, &:focus {
          border-bottom: 0;
          background-size: 0 0;
        }
        &:active, &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
    .chart-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: auto;
      .btn {
        border: 0;
        min-width: unset;
        max-height: unset;
        width: auto;
        height: auto;
        line-height: unset;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 0 0.3rem;
        cds-icon {
          width: $icon-size-sm;
          height: $icon-size-sm;
          color: $fg;
        }
      }
    }
  }
  .chart-body {
    &, & > *, app-canvas {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex-grow: 1;
      flex-shrink: 1;
    }
    border: 1px solid $border;
    border-top: 0;
    .chart-footer {
      display: block;
      border-top: 1px solid $border;
      padding: 0 0.3rem;
      font-size: 0.6rem;
      min-height: 1.1rem;
      line-height: 1.05rem;
    }
  }
}

app-canvas {
  position: relative;
  overflow: hidden;
  canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  div {
    position: absolute;
    background-color: $fg;
    opacity: 0.5;
    pointer-events: none;
    z-index: 2;
  }
  .line-v {
    width: 2px;
    height: 200%;
    transform: translateX(-50%);
  }
}

app-input-range,
app-input-frequency {
  clr-input-container.clr-form-control {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
      width: 50%;
    }

    .clr-control-container {
      width: 50%;
    }
  }

  clr-range-container.clr-form-control {
    margin-top: 0.5rem;
  }
}
