@import 'vars';

.fill-height {
  height: 100%;
}

.float-right {
  float: right;
}

.hide {
  display: none !important;
}

.stats {
  top: calc(#{$header-size / 2} - 24px) !important;
  right: 0.5rem !important;
  left: auto !important;
}

.frequency-chart-container {
  @media (max-width: $width-md - 1px) {
    height: calc(40vh + 2.5rem);
  }

  & > * {
    position: fixed;
    top: $header-size;
    right: $content-padding;
    left: $content-padding;
    z-index: 999;
    padding-top: $content-padding;
    background: $bg;
    border-bottom: 1px solid $border;
    @media (min-width: $width-md) {
      right: 50%;
    }
    @media (min-width: $width-lg) {
      right: calc(42% + 0.5rem);
    }
    @media (min-width: $width-xl) {
      right: calc(33% + 0.5rem);
    }

    canvas {
      width: 100%;
      height: 40vh;
      border: 1px solid $border;
      @media (min-width: $width-md) {
        height: calc(100vh - 6.5rem);
      }
    }
  }
}

app-input-range, app-input-frequency {
  clr-input-container.clr-form-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    label {
      width: 50%;
    }
    .clr-control-container {
      width: 50%;
    }
  }
  clr-range-container.clr-form-control {
    margin-top: 0.5rem;
  }
}
