@import 'vars';

.fill-height {
  height: 100%;
}

.float-right {
  float: right;
}

.hide {
  display: none !important;
}

.margin-none {
  margin: 0 !important;
}

.stats {
  top: calc(#{$header-size / 2} - 24px) !important;
  right: 0.5rem !important;
  left: auto !important;
}

.frequency-chart-container {
  @media (max-width: $width-md - 1px) {
    &, & app-frequency-chart {
      height: calc(40vh + 2.5rem);
    }
  }

  app-frequency-chart {
    position: fixed;
    z-index: 999;

    top: $header-size;
    right: $content-padding-sm;
    left: $content-padding-sm;
    padding-top: $content-padding-sm;
    @media (min-width: $width-md) {
      right: 50%;
      left: $content-padding;
      bottom: 1rem;
      padding-top: $content-padding;
    }
    @media (min-width: $width-lg) {
      right: calc(42% + 0.5rem);
    }
    @media (min-width: $width-xl) {
      right: calc(33% + 0.5rem);
    }

    /*canvas {
      height: 40vh;
      @media (min-width: $width-md) {
        height: calc(100vh - 6.5rem);
      }
    }*/
  }
}

app-frequency-chart {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: $bg;
    border-bottom: 1px solid $border;

    canvas {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      overflow: hidden;
      width: 100%;
      border: 1px solid $border;
    }

    .frequency-chart-text {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-shrink: 1;
      overflow: hidden;
    }
}

app-input-range, app-input-frequency {
  clr-input-container.clr-form-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    label {
      width: 50%;
    }
    .clr-control-container {
      width: 50%;
    }
  }
  clr-range-container.clr-form-control {
    margin-top: 0.5rem;
  }
}
