<form clrForm [clrLayout]="layout" [formGroup]="form">
  <app-input-range
    name="Delay"
    [min]="0"
    [max]="maxDelay"
    formControlName="delay"
  >
  </app-input-range>
  <clr-select-container>
    <label>FFT Size</label>
    <select clrSelect formControlName="fftSize">
      <option *ngFor="let size of fftSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </clr-select-container>
  <app-input-range
    name="Smoothing"
    formControlName="smoothing"
    [min]="0"
    [max]="1"
    [step]="0.00001"
  >
  </app-input-range>
</form>
