<form clrForm clrLayout="vertical" [formGroup]="form">
  <app-input-range name="Delay" min="0" [max]="maxDelay" formControlName="delay">
  </app-input-range>
  <clr-select-container>
    <label>FFT Size</label>
    <select clrSelect formControlName="fftSize">
      <option *ngFor="let size of fftSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </clr-select-container>
  <div formArrayName="smoothing">
    <div class="clr-form-control clr-control-label">Smoothing</div>
    <app-input-range
      *ngFor="let item of smoothingForm.controls; let i = index"
      [name]="i"
      min="0"
      max="1"
      step="0.00001"
      [formControlName]="i"
    >
    </app-input-range>
  </div>
</form>
