<app-canvas (pointChange)="setPoint($event)">
</app-canvas>

<div class="chart-footer">
  <span *ngIf="pointTime$ | async as t">
    {{ t | units:'s' }}
    <span *ngFor="let id of functions; let i = index">
      <ng-container *ngIf="pointValues$[i] | async as v">
        <span [style.color]="functionColor[i]">{{ id }}</span>:
        <app-analyser-function-value [domain]="domain" [value]="v">
        </app-analyser-function-value>
      </ng-container>
    </span>
  </span>
  <span class="float-right">
    Mean:
    <span *ngFor="let id of functions; let i = index">
      <ng-container *ngIf="meanValues$[i] | async as v">
        <span [style.color]="functionColor[i]">{{ id }}</span>:
        <app-analyser-function-value [domain]="domain" [value]="v">
        </app-analyser-function-value>
      </ng-container>
    </span>
  </span>
</div>
