<form clrForm [clrLayout]="layout" [formGroup]="form">
  <clr-checkbox-container formGroupName="enabled">
    <clr-checkbox-wrapper *ngFor="let fn of functionId; let i = index">
      <input
        type="checkbox"
        clrCheckbox
        [formControlName]="fn"
      />
      <label>{{ functionName[i] }}</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>

  <clr-checkbox-container>
    <clr-checkbox-wrapper>
      <input
        type="checkbox"
        clrCheckbox
        formControlName="debug"
      />
      <label>Debug</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>

  <app-input-range
    name="History size"
    [min]="1"
    [max]="1000"
    [step]="1"
    formControlName="historySize"
  >
  </app-input-range>

  <app-input-frequency name="Min pitch" formControlName="minPitch">
  </app-input-frequency>
  <app-input-frequency name="Max pitch" formControlName="maxPitch">
  </app-input-frequency>

  <clr-select-container>
    <label>FFT peak type</label>
    <select clrSelect formControlName="peakType">
      <option *ngFor="let t of peakTypes" [ngValue]="t.id">
        {{ t.name }}
      </option>
    </select>
  </clr-select-container>
  <app-input-range
    name="FFT peak prominence radius"
    [min]="0"
    [max]="1024"
    [step]="1"
    formControlName="prominenceRadius"
  >
  </app-input-range>
  <app-input-range
    name="FFT peak prominence threshold"
    [min]="0"
    [max]="100"
    [step]="1"
    formControlName="prominenceThreshold"
  >
  </app-input-range>
  <clr-checkbox-container>
    <clr-checkbox-wrapper>
      <input
        type="checkbox"
        clrCheckbox
        formControlName="prominenceNormalize"
      />
      <label>FFT peak prominence normalize</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
</form>
