<form clrForm clrLayout="vertical" *ngIf="node">
  <clr-select-container>
    <label>Shape</label>
    <select clrSelect name="shape" [(ngModel)]="node.type">
      <option value="sine">Sine</option>
      <option value="square">Square</option>
      <option value="triangle">Triangle</option>
      <option value="sawtooth">Sawtooth</option>
    </select>
  </clr-select-container>

  <app-input-frequency
    [name]="'Frequency'"
    [min]="20"
    [max]="20000"
    [(ngModel)]="node.frequency.value"
  >
  </app-input-frequency>
</form>
