<audio #audio></audio>

<div class="clr-row">
  <div class="charts-container clr-col-12 clr-col-md-6 clr-col-lg-7 clr-col-xl-8">
    <app-charts></app-charts>
  </div>

  <div class="clr-col-12 clr-col-md-6 clr-col-lg-5 clr-col-xl-4">
    <app-alert [error]="error$ | async"></app-alert>

    <form clrForm [formGroup]="form" class="clr-row clr-align-items-center">
      <div class="clr-col-auto padding-none">
        <button class="btn btn-icon btn-flat" (click)="toggle()">
          <cds-icon shape="play" *ngIf="(paused$ | async) else pause"></cds-icon>
          <ng-template #pause>
            <cds-icon shape="pause"></cds-icon>
          </ng-template>
        </button>
        <button class="btn btn-icon btn-flat" (click)="reset()">
          <cds-icon shape="axis-chart"></cds-icon>
        </button>
      </div>
      <div class="clr-col padding-none">
        <app-input-range
          [min]="0.01"
          [max]="1"
          [step]="0.01"
          [log]="true"
          [showValue]="false"
          formControlName="volume"
        >
        </app-input-range>
      </div>
    </form>

    <clr-tabs>
      <clr-tab>
        <button clrTabLink>Wave</button>
        <clr-tab-content *clrIfActive="(source$ | async) === source.WAVE">
          <app-wave-options>
          </app-wave-options>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>File</button>
        <clr-tab-content *clrIfActive="(source$ | async) === source.FILE">
          <app-file-options>
          </app-file-options>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>Device</button>
        <clr-tab-content *clrIfActive="(source$ | async) === source.DEVICE">
          <app-device-options>
          </app-device-options>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>Worklet</button>
        <clr-tab-content *clrIfActive="(source$ | async) === source.WORKLET">
          <app-worklet-options>
          </app-worklet-options>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>

    <div class="section">
      <app-common-options></app-common-options>
    </div>
  </div>
</div>
