<clr-tabs>
  <clr-tab>
    <button clrTabLink>Graph</button>
    <clr-tab-content *clrIfActive>
      <app-graph-options></app-graph-options>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink>Filter</button>
    <clr-tab-content *clrIfActive>
      <app-filter-options></app-filter-options>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink>Pitch detection</button>
    <clr-tab-content *clrIfActive>
      <app-pitch-options></app-pitch-options>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
