<clr-tabs>
  <clr-tab>
    <button clrTabLink>Graph</button>
    <clr-tab-content *clrIfActive>
      <form clrForm clrLayout="vertical" [formGroup]="graphForm">
        <clr-range-container>
          <label>Delay: {{ delay$ | async }}s</label>
          <input
            clrRange
            type="range"
            min="0"
            [attr.max]="maxDelay"
            step="0.01"
            formControlName="delay"
          />
        </clr-range-container>
        <clr-select-container>
          <label>FFT Size</label>
          <select clrSelect formControlName="fftSize">
            <option *ngFor="let size of fftSizes" [ngValue]="size">
              {{ size }}
            </option>
          </select>
        </clr-select-container>
      </form>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink>Pitch detection</button>
    <clr-tab-content *clrIfActive>
      <form clrForm clrLayout="vertical" [formGroup]="pitchForm">
        <clr-checkbox-container formGroupName="enabled">
          <clr-checkbox-wrapper *ngFor="let pd of pitch">
            <input
              type="checkbox"
              clrCheckbox
              [formControlName]="pd.short"
            />
            <label>{{ pd.name }}</label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>

        <clr-checkbox-container>
          <clr-checkbox-wrapper>
            <input
              type="checkbox"
              clrCheckbox
              formControlName="debug"
            />
            <label>Debug</label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>

        <app-input-frequency
          [name]="'Min Pitch'"
          [min]="20"
          [max]="20000"
          formControlName="minPitch"
        >
        </app-input-frequency>
        <app-input-frequency
          [name]="'Max Pitch'"
          [min]="20"
          [max]="20000"
          formControlName="maxPitch"
        >
        </app-input-frequency>
      </form>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
